.fun-p {
    font-size: 1.3em;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form input {
    text-indent: 10px;
    min-height: 30px;
    height: auto;
    width: 300px;
    border: 2px #3b7aa2 solid;
    border-radius: 20px;
}

.form input::placeholder {
    color: #424655;
}

.form input:focus {
    outline: none;
}



.btn-form {
    display: flex;
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #3b7aa2;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-form:hover {
    background-color: #235682;
}

.socials {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;

}

.socials a {
    color: #235682 !important;
    font-size: 30px;
    list-style: none;
}

.soc-side {
    display: flex;
    flex-direction: column;
}

.soc-side .fun-p {
    margin: 0;
}

.form .fun-p {
    margin: 10px 0;
}