body {
  margin: 0;
  margin-top: 100px;
  padding: 0 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}