body {
  margin: 0;
  margin-top: 100px;
  padding: 0 25vw;
  display: flex;
  flex-direction: column;


  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}

body.light-theme {
  background-color: #fff;
  /* White background */
  color: #333;
  /* Dark text */
}

body.dark-theme {
  background-color: #333;
  /* Dark background */
  color: #fff;
  /* White text */
}

body.dark-theme .pages a {
  color: white;
}

body.dark-theme form input::placeholder {
  color: #fff;
}

body.dark-theme form input {
  color: #fff;
}

@media (max-width: 768px) {
  body {
    padding: 0 13vw;
  }
}

@media (max-width: 480px) {
  body {
    padding: 0 6vw;
  }
}